doctype html

html
  head
    meta(charset='UTF-8')
    title Test of title
    style.
      body { width: 350px; }
  
  body
    #root(class='todoapp')
    script(src=env == 'prod' ? '/js/popup.bundle.js' : 'https://localhost:3000/js/popup.bundle.js')